{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "public": "./public",
                    "src": "./src",
                    "components": "./src/components"
                },
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ],
        "transform-class-properties",
        "@emotion",
        "react-hot-loader/babel"
    ]
}
